GHOST_API_BASE_URL=http://127.0.0.1:7722
GHOST_FFMPEG_PATH=ffmpeg
GHOST_HIKVISION_SDK_DIR=C:\Users\User\Downloads\EN-HCNetSDKV6.1.9.4_build20220412_win64\EN-HCNetSDKV6.1.9.4_build20220412_win64\EN-HCNetSDKV6.1.9.4_build20220412_win64
GHOST_HEALTH_PORT=8791
GHOST_POLL_INTERVAL_MS=15000
